@{
    ViewBag.Title = "Pilihan";
}

<center><h2>Pilihan</h2></center>

<div class="text-center">
    <a href="/Home/Saldo"> Informasi Saldo </a><br />
    <a href="/Home/Pin"> Ubah Pin</a><br />
    <a href="/Home/Transfer"> Transfer</a><br />
    <a href="/Home/Pembayaran"> Pembayaran</a><br />
</div>
