@{
    ViewBag.Title = "Pilihan";
}

<center><h2>Pilihan</h2></center>

<div class="text-center">
    <button type="button" class="btn btn-primary btn-lg"><a href="/Home/Saldo"> Informasi Saldo </a></button><br />
    <button type="button" class="btn btn-primary btn-lg">Ubah Pin</button><br />
    <button type="button" class="btn btn-primary btn-lg">Transfer</button><br />
    <button type="button" class="btn btn-primary btn-lg">Pembayaran</button><br />
</div>
