
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Saldo</title>
</head>
<body>
    <div> 
        Saldo Anda adalah @ViewBag.Saldo
    </div>
</body>
</html>
