
@{
    ViewBag.Title = "BookFlight";
}

<br /><p><b>Pesan Penerbangan</b></p>

@using (Html.BeginForm())
{
    <table class="table">
        <tbody>
            <tr>
                <td>Nama Maskapai</td>
                <td>Garuda(dummy)</td>
            </tr>
            <tr>
                <td>Kota Asal</td>
                <td>Medan(dummy)</td>
            </tr>
            <tr>
                <td>Kota Tujuan</td>
                <td>Papua(dummy)</td>
            </tr>
            <tr>
                <td>Tanggal Penerbangan</td>
                <td>1 Jun 2020</td>
            </tr>

            <tr>
                <td>Jumlah Penumpang</td>
                <td>2</td>
            </tr>

            <tr>
                <td>Harga Total</td>
                <td>Rp.2.000.000(dummy)</td>
            </tr>
            <tr>
                <td>Metode Pembayaran</td>
                <td class="select">
                    <select>
                        <option value="atm">Mesin ATM</option>
                        <option value="ibanking">Internet Banking</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b><br /><br />Identitas Penumpang</b></td>
                <td> </td>
            </tr>
            <tr>
                <td>Nama Penumapang</td>
                <td><input type="text" id="namaPenumpang" class="form-control"/></td>
            </tr>

        </tbody>

    </table>
    <input type="submit" value="Pesan" class="btn btn-primary" />
}
