@model IEnumerable<Travelancar.Models.DaftarPenerbangan>

@{
    ViewBag.Title = "DaftarPenerbangan";
}

<br /><p><b>Pesan Penerbangan</b></p>

@using (Html.BeginForm())
{
    <table class="table">
        <tbody>
            <tr>
                <td>Nama Maskapai</td>
                <td>Kota Asal</td>
                <td>Kota Tujuan</td>
                <td>Tanggal Penerbangan</td>
                <td>Jam Keberangkatan</td>
                <td>Harga Total</td>
                <td></td>
            </tr>
            <tr>
                <td>Garuda(dummy)</td>
                <td>Medan (dummy)</td>
                <td>Papua (dummy)</td>
                <td>09-12-2009 (dummy)</td>
                <td>12.15(dummy)</td>
                <td>900.000 (dummy)</td>
                <td><input type="submit" value="Pesan" class="btn btn-primary" /></td>
            </tr>
        </tbody>
    </table>
}



