@model Travelancar.Models.findTiket
@{
    ViewBag.Title = "Index";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message @User.Identity.Name</h1>
            </hgroup>
        </div>
    </section>
}


<div class="jumbotron">
    <h1>TRAVELANCAR</h1>
    <p class="lead">Website ini merupakan sebuah aplikasi pemesanan Tiket Pesawat dan booking Kamar Hotel</p>

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Booking Hotel</h2>
        <p>
            Pilihan hotel yang tersedia yaitu hotel kasur empuk dan mawar melati
        </p>
        <p class="btn btn-default">@Html.ActionLink("Pesan Hotel", "pesanhotel") &raquo;</p>
    </div>
    <div class="col-md-6">
        <h2>Pemesanan Pesawat</h2>
        <p>
            Pilihan penerbangan yang kami sediakan yaitu, puyuh air, pinguin air, itik air
        </p>
        <p class="btn btn-default">@Html.ActionLink("Pesan Pesawat", "ListPenerbangan") &raquo;</p>
    </div>

</div>



