
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pilihan</h2>
<div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-lg" disabled>Primary button</button>
        <button type="button" class="btn btn-primary btn-lg" disabled>Primary button</button>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-lg" disabled>Primary button</button>
        <button type="button" class="btn btn-primary btn-lg" disabled>Primary button</button>
    </div>
</div>

