
@{
    ViewBag.Title = "Finish";
}


<div class="trans-form">
    <h2 class="text-center">Konfirmasi Transfer</h2><br />
        <form action="" method="post">
            <h4 class="text-center">Penerima</h4>
            <div class="form-group">
                <input type="text" class="form-control" name="penerima">
            </div><br />
            <h4 class="text-center">Jumlah</h4>
            <div class="form-group">
                <input type="text" class="form-control" name="jumlah" >
            </div><br />
            <h4 class="text-center">No-Resi</h4>
            <div class="form-group">
                <input type="text" class="form-control" name="no_resi">
            </div><br />
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-md ">Benar</button>
            </div>
            <div class="text-center" ">
                <button type="submit" class="btn btn-primary btn-md ">Benar</button>
            </div>
        </form>
</div>



