
@{
    ViewBag.Title = "Transaksi";
}


    <center>
        <h2>Transaksi</h2>
    </center>

<div class="text-center">
    <button type="button" class="btn btn-primary btn-lg">Rekening Konservatif</button><br />
    <button type="button" class="btn btn-primary btn-lg">Keluar</button><br />
</div>

